export CTF_CMA_ACCESS_TOKEN=CFPAT-kHQ7zAZTSkoMQbu-coZmKjlB3ulp0xfgu6q43YJnBos
export CTF_SPACE_ID=ud6ndq81mxq7
export CTF_ENVIRONMENT_ID=master
export GOOGLE_API_KEY=AIzaSyC8RKXS1Lc-gzbdbgWRnOtIm36I4RKUMlA